@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&family=REM:wght@300&display=swap');

body {
  background: whitesmoke;
  /* text-align: center; */
}

table {
  color: rgb(59, 59, 59);
  background-color: #f0f0f0;
  /* backface-visibility: hidden; */
  /* background-image: url("https://e0.pxfuel.com/wallpapers/1016/182/desktop-wallpaper-black-texture-hq-red-grey-and-black.jpg"); */
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: max-content;
}

input {
  background-color: #007bff;
  /* padding: 10px; */
  cursor: pointer;
  margin: 10px 10px 0px 10px;
  text-align: center;
  height: 15px;
  width: 15px;
}

td {
  border: 1px solid transparent;
  padding: 8px 25px 8px 0px;
  border-radius: 5px;
  font-size: smaller;
  width: min-content;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin: 0px 20px; */
  /* background-color: #007bff; */
}

th {
  border-radius: 10px;
  text-align: center;
  font-size: small;
  margin: 10px;
  background-color: #2196F3;
  color: #ffffff;
  /* Adjust the background color to a lighter shade */
  padding: 10px;
  font-family: 'REM', sans-serif;
}

h1,
h3 {
  color: #333;
}

.btn {
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.Header {
  text-align: center;
  padding: 30px;
  background-color: #FFC113;
  font-weight: normal;
  font-size: 2rem;
  /* letter-spacing: 1px; */
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Anton', sans-serif;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.note {
  margin-left: auto;
  margin-right: auto;
  /* padding: 8px 16px; */

  width: max-content;
  /* background-color: transparent; */
  /* color: whitesmoke; */
  font-size: smaller;
  font-family: 'REM', sans-serif;
  background-color: transparent;
}

.notes {
  font-size: smaller;
  font-family: 'REM', sans-serif;
  text-align: center;
  color: #333;
}

.ulList {
  margin-top: 15px;
  /* text-align: left; */
  /* list-style:none; */
  /* margin-top: 30px; */
  /* background-color: #007bff; */
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  /* background-color: aqua; */
  text-align: center;
}

.ulList li {
  /* width: max-content; */
  margin-top: 10px;
  text-align: center;
}

.btn {
  background-color: #FFC113;
  color: #fff;
  cursor: pointer;
  font-size: x-small;
  font-weight:300;
  padding: 10px 28px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
}

.btns {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.save{
  background-color: rgb(104, 200, 213);
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: 300;
  font-size: 0.8rem;
}

.footer {
  margin-top: 20px;
  padding: 30px;
  background: rgb(238, 238, 238);
  color: #333;
  text-align: center;
}
