@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&family=REM:wght@300&display=swap');

.btnbtn {
  margin-bottom: 40px;
  text-align: center;
}

.btnDownload {
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 6px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  background-color: rgb(104, 200, 213);
  border: 0px;
  outline: none;
  border-radius: 18px;
  font-family: Poppins,Roboto,"Helvetica",Arial,sans-serif;
  cursor: pointer;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);;
}

.listsNotes {
  border: 2px solid rgb(232, 228, 228);
  border-radius: 30px;
  margin: 25px 30px;
  /* width: 80%; */
  max-width: 1000px;
  padding: 15px 25px;
  margin: 0 auto;
}

.talentlyNote {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

footer {
  margin-top: 20px;
  padding: 30px;
  background: #faf6f3;
  color: #333;
  text-align: center;
}

.talentlyNote p {
  font-family: 'Poppins', sans-serif;
  width: max-content;
  padding: 9px 15px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  text-align: center;
}

.listsNotes li {
  font-style: italic;
  margin: 0px 25px;
}

.listsNotes p strong {
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  /* font-size: medium; */
  margin: 20px 0px;
}

.ulFound {
  margin-top: 10px;
  margin-bottom: 10px;
}


.listsNotes p {
  font-family: 'Poppins', sans-serif;
  /* font-size: large; */
}

.note1{
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  width: 90%;
  font-size: smaller;
  margin-left: auto;
  margin-right: auto;
}